<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
		"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<title>{%block title%}ООО "Берег" | Поставки производственного оборудования из Китая{%endblock title%}</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
	<!--<base href="/http://bereg-cn.ru/3/"> -->
	<meta http-equiv="Content-Style-Type" content="text/css"/>
	<link rel="shortcut icon" href="/favicon.png" type="image/png"/>
	<meta name="description" content="{% block description %}Деловые отношения с Китаем. Оборудование из Китая. Обучение в Китае. Перевод на Китайский. Экскурсии по заводам Китая{% endblock description%}"/>
	<meta name="keywords" content="{% block keywords %}Поставки производственного оборудования из Китая{% endblock keywords%}"/>
	<link rel="stylesheet" type="text/css" href="/main.css"/>
	<script type="text/javascript" src="jquery-1.3.2.js"></script>
	<script type="text/javascript" src="jquery.lightbox.js"></script>
	<link rel="stylesheet" type="text/css" href="/jquery.lightbox-0.5.css" media="screen"/>

</head>
<body>
<table class="main" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td>
<table class="head_table" cellpadding="0" cellspacing="0" border="0"> <!-- Head -->
	<tr>
		<td valign="top" height="91">
			<div class="stanok"></div>
			<div class="top_menu">
				<ul class="ert" style="width:598px;">
					<li class="link"><a href="/index.php?act=services" class="link">Услуги</a>
					</li>
					<li class="link"><a href="/equipment.php" class="link">Оборудование</a>
						<ul id="Оборудование" class="submenu">
							<li><a class="sublink" href="/equipment.php?cat=Metalloobrabotka_o">Обработка металла</a>
							</li>
							<li><a class="sublink" href="/equipment.php?cat=Pererabotka_plastmass_o">Переработка
								пластмасс</a></li>
						</ul>
					</li>
					<li class="link"><a href="/projects.php" class="link">Проекты</a>
						<ul id="Проекты" class="submenu">
							<li><a class="sublink" href="/projects.php?cat=Pererabotka_plastmass">Переработка
								пластмасс</a></li>
							<li><a class="sublink" href="/projects.php?cat=Pererabotka_othodov">Переработка отходов</a>
							</li>
							<li>
								<a class="sublink" href="/projects.php?cat=Proizvodstvo_stroitelnyh_materialov">Производство
									строительных материалов</a></li>
						</ul>
					</li>
					<li class="link"><a href="/index.php?act=study" class="link">Учеба</a>
					</li>
					<li>
						<div class="link" style="width:4px;"></div>
					</li>
				</ul>
			</div>
		</td>
	</tr>
	<tr>
		<td valign="top" align="right"><img src="images/flag.png" alt="" class="flag"/></td>
	</tr>
	<tr>
		<td>
			<div class="lang">
				<a href="/index.php"><img src="./images/RU.gif" alt="Rus"><span> RU</span></a>
				<!--        <a href="/cn/index.php"><img src="./images/CN.gif" alt="Cn" > <span> CN</span></a>-->
			</div>
			<div class="search">
				<form name="search" action="search.php" method="POST">
					<input id="find" class="search" name="search" type="text" value="Поиск">
					<input class="glass" type="image" name="search_button" src="images/glass.png" width="28" height="30">
				</form>
			</div>
		</td>
	</tr>
	<tr>
		<td class="shadow"></td>
	</tr>
</table>
<!-- end head -->
<div class="left_menu_sh">         <!-- left top menu -->
	<div class="left_menu">
		<div class="elt">
			<a href="/index.php?act=main" class="link_left1">Главная</a> <a href="/feedback.php" class="link_left">Обратная
			связь</a> <a href="/index.php?act=contacts" class="link_left">Контакты</a></div>
	</div>
	<div class="logo">&nbsp;</div>
</div>
<!-- end left top menu -->
<div class="shadow4">              <!-- shadow main table -->
	<div class="shadow3">
		<table class="main_content" cellpadding="0" cellspacing="0">
			<tr valign="top" height="600">
				<td width="222">           <!-- left -->
					<div class="login">
						<form name="login" action="login_auth.php" method="POST">
							<input id="login" class="login" name="login" value="Логин">
							<input id="pass" class="login" type="password" name="pass" value="Пароль">
							<input class="submit_login" type="image" name="sublogin" src="images/Login.png" width="76" height="24">
							<a class="blue_login" href="/recoverypass.php">Забыли пароль?</a>
							<a class="blue_reg" href="/register.php">Регистрация</a>
						</form>
					</div>
					<div class="tree"></div>
					<div class="news">
						<div class="title">КНР возведут крупнейший горнолыжный курорт</div>
						<div class="text">В Синьцзян-Уйгурском автономном районе КНР на высоте 2 тыс. м над уровнем моря
							возведут крупнейший в Азии горнолыжный курорт с полями для гольфа, искусственным озером и
							отелем. Инвестиции в проект ...
						</div>
						<a class='links' href='news.php?id=33'>Читать далее</a>

						<div class="title">Китайцы решили создать парк, где все "в шоколаде"</div>
						<div class="text">Парк, где все "в шоколаде", создается в китайской столице. Подобный
							аттракцион, сообщила на днях газета "Чайна дейли", появится вскоре в "Олимпик грин", зеленой
							зоне рядом с "Птичьим гнездом" - главным ...
						</div>
						<a class='links' href='news.php?id=32'>Читать далее</a>

						<div class="title">Китай станет мировым лидером туризма</div>
						<div class="text">Китайская Народная Республика за ближайшие 10 лет превратится в мирового
							лидера по въездному туризму, и к 2020 году его будет посещать рекордное число
							путешественников. Такой прогноз озвучил посол по особым ...
						</div>
						<a class='links' href='news.php?id=31'>Читать далее</a></div>
				</td>
				<!-- end left -->
				<td>           <!-- right -->
					<div class="main_content">       <!-- Body -->
						<h1>Главная</h1>

						<p>Наша компания работает с китаем с 2002 года и специализируется на поиске необходимой
							информации о предприятиях, производствах, оборудовании и товарах Китая. Мы поможем
							предпринимателям и компаниям, которые ведут дела с Китаем и планируют начать сотрудничество
							с Китайскими фабриками и заводами найти необходимую для работы информацию.</p>

						<p class="lined">Мы предлагаем Вам надежные, взвешанные и проверенные системы успешного ведения
							бизнеса в Китае и поставки конкурентноспособной продукции с китайских заводов и фабрик, так
							же, у нас Вы можете узнать о предстоящих выставках проводимых в Китае и с нашей помощью
							принять участи в них.</p>

						<p>Мы готовы содействовать развитию Вашего бизнеса оказываея услуги поиска необходимых товаро и
							оборудования в Китае, предоставляя услуги переводчиков, предоставляя сведения о китайских
							предприятиях а также о товарах и оборудованиее, производимых в Китае. А так же мы поставляем
							китайское оборудование - термопласт-автоматы, экструдеры, испытательное оборудование; все
							это оборудование сегодня успешно работает на предприятиях наших заказчиков.</p>

						<p>В нашей компании работают только высококвалифицированные специалисты с многолетним опытом
							работы в Китае. Хорошее знание китайского рынка и постоянный его мониторинг позволяет нашим
							сотрудникам добиться наилучших результатов в процессе работы и таким образом экономить
							средства и время клиента. Сейчас мы имеем много надежных партнеров в Китае - грамотных
							профессионалов из числа переводчиков, инженеров и технологов. Мы уверены, что наши знания и
							сведения, которыми мы владеем, помогут российским и китайским предпринимателям в развитии
							успешного и взаимовыгодного сотрудничества между ними.</p></div>
					<!-- end Body -->
				</td>
				<!-- end right -->
			</tr>
			<tr>                   <!-- foot -->
				<td class="foot" align="left" valign="middle"><a href="/sitemap.php">Карта сайта</td>
				<td class="foot" align="right" valign="middle">
					Разработка сайта Дизайн - студия <a href="/http://ruswebmasters.ru/">RusWebMaster</a>
				</td>
			</tr>
			<!-- end foot -->
			<tr>
				<td colspan="2" class="shadow2"></td>
			</tr>
		</table>
	</div>
</div>
<!-- end shadow main table -->
</td>
</tr>
</table>
</div>
<script type="text/javascript" src="pivo.js"></script>
<div></div>
<script type="text/javascript">
	$(function () {
		$('a.img').lightBox();
	});
</script>

<div style='position: absolute; top:-9999px;'>
	<img src='images/activeLink.png'/> <img src='images/linkrightActive.png'/> <img src='images/submenu.png'/>
</div>
<a title='' onclick='alert(this.title)'>информация</a>
</body>
</html>