<div class="left_menu">
	<div class="elt">
		<a href="/index.php?act=main" class="link_left1">Главная</a> <a href="/feedback.php" class="link_left">Обратная
		связь</a> <a href="/index.php?act=contacts" class="link_left">Контакты</a></div>
</div>
