<div class="top_menu">
	<ul class="ert" style="width:598px;">
		<li class="link"><a href="/index.php?act=services" class="link">Услуги</a>
		</li>
		<li class="link"><a href="/equipment.php" class="link">Оборудование</a>
			<ul id="Оборудование" class="submenu">
				<li><a class="sublink" href="/equipment.php?cat=Metalloobrabotka_o">Обработка металла</a>
				</li>
				<li><a class="sublink" href="/equipment.php?cat=Pererabotka_plastmass_o">Переработка
					пластмасс</a></li>
			</ul>
		</li>
		<li class="link"><a href="/projects.php" class="link">Проекты</a>
			<ul id="Проекты" class="submenu">
				<li><a class="sublink" href="/projects.php?cat=Pererabotka_plastmass">Переработка
					пластмасс</a></li>
				<li><a class="sublink" href="/projects.php?cat=Pererabotka_othodov">Переработка отходов</a>
				</li>
				<li>
					<a class="sublink" href="/projects.php?cat=Proizvodstvo_stroitelnyh_materialov">Производство
						строительных материалов</a></li>
			</ul>
		</li>
		<li class="link"><a href="/index.php?act=study" class="link">Учеба</a>
		</li>
		<li>
			<div class="link" style="width:4px;"></div>
		</li>
	</ul>
</div>
